.item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-bottom: 1px solid #e7e7e7;
    &:first-child { border-top: 1px solid #e7e7e7; }
    &:nth-child(even) { background-color: #f7f7f7; }
    &__description {
        width: 50%;
        margin-right: 10px;
    }

    &__value {
        transition: transform 0.3s;
        margin-right: 5px;
    }

    &__left {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        width: 45%;
    }

    &__percentage {
        transition: transform 0.3s;
        font-size: 11px;
        background-color: #FFDAD9;
        padding: 3px;
        border-radius: 3px;
        text-align: center;
    }

    &__delete {

    }

    &__delete--btn {
        font-size: 22px;
        background: none;
        border: none;
        cursor: pointer;
        line-height: 1;
        display: none;
    }

    &__delete--btn:focus { outline: none; }
    &__delete--btn:active { transform: translateY(2px); }

    &:hover &__delete--btn { display: inline-flex; }
    &:hover &__value { transform: translateX(-10px); }
    &:hover &__percentage { transform: translateX(-10px); }

}
