<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="assets/styles/style.css">
        <title>Budgetify</title>
    </head>

    <body>

        <div class="container">
          <div class="budget_container">
          <div class="budget">
            <div class="budget__title">
                Presupuesto disponible en <span class="budget__title--month">%Month%</span>:
            </div>

            <div class="budget__value">0,00</div>

            <div class="budget__income clearfix">
                <div class="budget__income--text">Ingresos</div>
                <div class="right">
                    <div class="budget__income--value">0.00</div>
                    <div class="budget__income--percentage">&nbsp;</div>
                </div>
            </div>

            <div class="budget__expenses clearfix">
                <div class="budget__expenses--text">Egresos</div>
                <div class="right clearfix">
                    <div class="budget__expenses--value">0.00</div>
                    <div class="budget__expenses--percentage">&nbsp;</div>
                </div>
            </div>
          </div>


          <div class="add">
              <div class="add__container">
                  <select class="add__type">
                      <option value="income" selected>+</option>
                      <option value="expense">-</option>
                  </select>
                  <input type="text" class="add__description" placeholder="Descripción">
                  <input type="number" class="add__value" placeholder="Precio">
                  <button class="add__btn"><i class="ion-ios-checkmark-outline"></i></button>
              </div>
          </div>
        </div>


        <div class="list_container">
            <div class="income">
                <h2 class="income__title">Ingresos</h2>

                  <div class="income__list">

                    <div class="items_container">
                    <!-- It would be nice to add a (...) if the description exceeds n characters -->
                    <!--
                    <div class="item" id="income-0">
                        <div class="item__description">Prueba</div>
                        <div class="item__left">
                            <div class="item__value">+ 2,100.00</div>
                            <div class="item__delete">
                                <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                            </div>
                        </div>
                    </div>
                  -->
                </div>
              </div>
            </div>



            <div class="expenses">
                <h2 class="expenses__title">Egresos</h2>

                  <div class="expenses__list">

                    <div class="items_container">
                    <!--
                    <div class="item" id="expense-0">
                        <div class="item__description">Apartment rent</div>
                        <div class="item__right">
                            <div class="item__value">- 900.00</div>
                            <div class="item__percentage">21%</div>
                            <div class="item__delete">
                                <button class="item__delete--btn"><i class="ion-ios-close-outline"></i></button>
                            </div>
                        </div>
                    </div>
                  -->
                  </div>
                </div>
            </div>

        </div>
      </div>

        <script src="../assets/js/controller/uiController.js"></script>
        <script src="../assets/js/controller/budgetController.js"></script>
        <script src="../assets/js/controller/globalController.js"></script>
        <script>
          const uiCtrl = new UICtrl();
          const budgetCtrl = new Budget(uiCtrl);
          const controller = new GlobalController( budgetCtrl, uiCtrl );

          // Initializing the app
          controller.init();

          // Listening for events
          controller.setupEventListeners();

          // Reading the data
          budgetCtrl.updateBudget();

        </script>
    </body>
</html>
